/* 
font-family: "Rubik Glitch Pop", system-ui;
font-family: "Stalinist One", sans-serif;
font-family: "Joti One", serif;
font-family: "Rubik Iso", system-ui; */
body {
    margin: 0px;
}

main {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* -----------------------header----------------------- */
.navigation_window {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: #000000;
    margin: 0px;
    padding: 0px;
    position: fixed;
    width: 100%;
    top: 0px;
    border-width: 0px;
    border-color: black;
    border-style: solid;
    box-shadow: 0px 2px 14px rgb(0, 114, 255);
}
.navigation_window__School_Name {
    margin: 0px;
    font-size: 1.5vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
    color: rgb(0, 255, 255);
    display: inline-block;
    text-align: left;
    margin-left: 0vw;
    margin-right: 5vw;
    margin-top: 0px;
    opacity: 0.6;
}

.navigation_window__reference {
    font-size: 1.5vw;
    display: flex;
    align-items: center;

}

.navigation_window__button {
    display: flex;
    align-items: center;
    font-family: "Stalinist One", sans-serif;
    color: rgb(255, 255, 255);
    font-style: normal;
    text-decoration: none;
    margin: 0px 2vw;
    border-right-width: 0px;
    border-right-style: outset;
    border-right-color: #ffffff;
    border-left-width: 0px;
    border-left-style: outset;
    border-left-color: #ffffff;
    box-shadow: 1px 0px 10px rgb(67 194 255 / 65%);
    border-radius: 10%;
}
/* -----------------------header----------------------- */

